.compose-note {
  background: $email-card-bg;
  padding: 30px 66px;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,.4);

  .comment {
    position: relative;
    height: 110px;

  }
  .comment textarea {
    border: 2px dashed #6f7993;
    width: 100%;
    border-radius: 5px;
    color: $primary-color;
    font-size: 18px;
    height: 110px;
  }

  .comment textarea[placeholder]{
    color: $primary-color;
    padding: 20px 34px;
  }

  .scroll-top {
    position: absolute;
    top: 30px;
    right: -25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    @include compose-btn;
    cursor: pointer;
  }

  .v-input {
     div, .v-text-field__slot label.primary--text, .v-select__slot label.primary--text  {
        caret-color: #4698e5 !important;
        color: #4698e5 !important;
     }
  }

  div.v-input.error--text div.v-input__slot, div.v-messages__message, div.v-input.error--text div.v-counter {
     color: #ff5252 !important;
     caret-color: #ff5252 !important;
  }

  div.v-text-field.v-input--has-state {

    textarea {
      border-color: #ff5252;
    }

    .v-input__control>.v-input__slot {
      &::before, &::after {
        border: none;
      }
    }
  }

  div.v-text-field.v-input--is-focused {

    textarea {
      border-color: #4698e5;
      &::placeholder {
        font-size: 0px;
      }
    }

    .v-input__control {
      .v-text-field__details {
        display: none;
      }

      .v-input__slot {
        &::before, &::after {
          border: none;
        }
      }
    }
  }

  textarea::placeholder {
    color: #b2b4bc !important;
  }
}
