// toolbar
.v-toolbar {
   background-color: $toolbar-bg  ;
   color: $toolbar-text-color ;
}

// navigation-drawer
.v-navigation-drawer {
   background-color: $sidebar-bg;
   padding: 80px 0 0;
}

// .v-list--dense
.v-list--dense {
   padding-top: 0!important;
   padding-bottom: 0!important;
}

// error
.v-badge__badge {
   font-size: 12px;
   &.error {
      background-color: $badge-color;
      border-color: $badge-border-color;
      border: 3px solid;
   }
}

.v-text-field input, .v-text-field__details .v-counter.theme--dark {
   color: #a5b1ce !important;
}

.v-select__selection, .v-text-field__details, .v-select__selection.v-select__selection--comma {
   color: #a5b1ce !important;
}
